/* Change the base font size */
:root {
    --md-typeset: 10px; /* Default is 14px */
}

#logo_light_mode {
    display: var(--md-footer-logo-light-mode);
}

#logo_dark_mode {
    display: var(--md-footer-logo-dark-mode);
}

[data-md-color-scheme="light-mode"] {
    --md-footer-logo-dark-mode: none;
    --md-footer-logo-light-mode: block;
    --md-primary-fg-color: #003951;
}

[data-md-color-scheme="slate"] {
    --md-footer-logo-dark-mode: block;
    --md-footer-logo-light-mode: none;
}